/* Dark theme customizations */

:root {
    --color-sf-appbar-bg-color-alt1: #181c1f;    
}

body {
    background-color: #212529;
    color: #e0e0e0;
}

.e-btn {
    background: #343a40;
    color: #e0e0e0;
}

.e-btn:hover {
    background: #495057;
    color: #ffffff;
}