/* Medium breakpoint styles (<992px) */
@media (max-width: 992px) {
    /* AdminSongManagement container */
    #grid-container {
        width: calc(100vw - 12rem);
        height: calc(100vh - 8rem);
    }
}
